/* welcome color:#745b37;
buy color:#5b2a02;
p:#2c2727; */

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Poppins:wght@400;500;600;700;900&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: 'Poppins', sans-serif;
}

a,
a:link,
a:visited{
    text-decoration: none;
    outline: none;
    border: none;
}

ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}

section,
span,
p{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    background-image: url(./img/coffee.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.header-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.header-logo{
    font-size: 16px;
    letter-spacing: 2px;
    border-bottom: 5px solid black;
    border-radius: 35px;
    padding-bottom: 5px;
}

ul{
    display: flex;
}

li{
    margin-left: 27px;    
}
li:first-child{
    margin-right: 70px;
}

a{
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.header-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

h1{
    font-size: 8.5rem;
    font-weight: 100;
    line-height: 0.4;
    letter-spacing: 2px;
    font-family: 'Herr Von Muellerhoff', cursive;
    color:#745b37;
}

.first-letter{
    font-size: 10.3rem;
    font-family: 'Herr Von Muellerhoff', cursive;
    color:#745b37;
}